.feed{
    flex:1;
    background:#000;
    color:white;
    height:100vh;
    overflow-y:auto;

    border-left:1px solid #2f3336;
    border-right:1px solid #2f3336;
}

.feed::-webkit-scrollbar{
    display:none;
}

.feed{
    scrollbar-width:none;
}

/* ---------- Post ---------- */

.post{
    display:flex;
    gap:15px;
    padding:18px 20px;
    border-bottom:1px solid #2f3336;
}

.avatar{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#2f3336;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:22px;

    flex-shrink:0;
}

.postContent{
    flex:1;
}

.postHeader{
    display:flex;
    align-items:center;
    gap:8px;
}

.postHeader h4{
    margin:0;
    font-size:16px;
}

.postHeader span{
    color:gray;
    font-size:14px;
}

.postText{
    margin-top:8px;
    line-height:1.6;
    font-size:16px;
}

.tag{
    color:#1d9bf0;
}

.postActions{
    /* margin-top:18px; */

    display:flex;
    justify-content:space-between;

    max-width:420px;

    padding-top: 20px;

    color:gray;
}

.postActions span{
    cursor:pointer;
    transition:.2s;
}

.postActions span:hover{
    color:#1d9bf0;
}

.postActions svg{
    font-size:20px;
    color:#71767b;
    cursor:pointer;
    transition:0.2s;
}

.postActions svg:hover{
    color:#1d9bf0;
    transform:scale(1.1);
}