.tagSection{
    padding:20px;
    border-bottom:1px solid #2f3336;
}

.tagContainer{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    margin-top:15px;
}

.tagBtn{
    background:#16181c;
    color:white;
    border:1px solid #2f3336;
    padding:10px 18px;
    border-radius:25px;
    cursor:pointer;
}

.tagBtn:hover{
    background:#1d9bf0;
}